github "SwiftyJSON/SwiftyJSON" ~> 3.1.4
github "PromiseKit/Foundation" ~> 1.0.7
github "mxcl/PromiseKit" ~> 4.4.1
github "realm/realm-cocoa" ~> 2.10.1
github "drmohundro/SWXMLHash" ~> 4.2.1
github "1024jp/GzipSwift" ~> 4.0.0
github "52inc/Pulley" ~> 1.5.2
github "SwiftKickMobile/SwiftMessages" ~> 4.0.0
