github "SwiftyJSON/SwiftyJSON" ~> 3.0.0
github "PromiseKit/Foundation" ~> 1.0
github "mxcl/PromiseKit" ~> 4.0
github "realm/realm-cocoa" ~> 1.1
github "drmohundro/SWXMLHash" ~> 3.0
github "1024jp/GzipSwift" ~> 3.0.0
