<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basemapURLlight</key>
	<string>https://api.mapbox.com/styles/v1/mapbox/light-v10/tiles/256/{z}/{x}/{y}?access_token=MAPBOX_TOKEN</string>
	<key>basemapURLdark</key>
	<string>https://api.mapbox.com/styles/v1/skarppi/ckwltncmreswg15qnv14ops3t/tiles/256/{z}/{x}/{y}?access_token=MAPBOX_TOKEN</string>
	<key>addsURL</key>
	<string>https://www.aviationweather.gov/adds/dataserver_current/httpparam</string>
	<key>awsMetarsURL</key>
	<string>https://ilmailusaa.fi/weatheranim.php?id=viscloud</string>
	<key>awsStationsURL</key>
	<string>https://ilmailusaa.fi/backend.php?%7B%22mode%22%3A%22autometar%22%2C%22radius%22%3A%2250%22%2C%22points%22%3A%5B%7B%22_area%22%3A%221%22%7D%5D%7D</string>
	<key>airspaceURL</key>
	<string>http://tusina.net:8000/aip</string>
	<key>modules</key>
	<array>
		<dict>
			<key>key</key>
			<string>ceiling</string>
			<key>name</key>
			<string>Ceiling</string>
			<key>unit</key>
			<string>FL</string>
			<key>legend</key>
			<dict>
				<key>0000</key>
				<string>000</string>
				<key>0500</key>
				<string>005</string>
				<key>1000</key>
				<string>010</string>
				<key>1500</key>
				<string>015</string>
				<key>2000</key>
				<string>020</string>
				<key>5000</key>
				<string>050</string>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>visibility</string>
			<key>name</key>
			<string>Visibility</string>
			<key>unit</key>
			<string>KM</string>
			<key>legend</key>
			<dict>
				<key>00000</key>
				<string>0</string>
				<key>01500</key>
				<string>1.5</string>
				<key>03000</key>
				<string>3</string>
				<key>05000</key>
				<string>5</string>
				<key>08000</key>
				<string>8</string>
				<key>10000</key>
				<string>10</string>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>temp</string>
			<key>name</key>
			<string>Spread</string>
			<key>unit</key>
			<string>FL</string>
			<key>legend</key>
			<dict>
				<key>0000</key>
				<string>000</string>
				<key>0500</key>
				<string>005</string>
				<key>1000</key>
				<string>010</string>
				<key>1500</key>
				<string>015</string>
				<key>2000</key>
				<string>020</string>
				<key>5000</key>
				<string>050</string>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>web</string>
			<key>name</key>
			<string>Web</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>title</key>
			<string>ilmailusaa</string>
			<key>url</key>
			<string>https://ilmailusaa.fi/index.html#id=radar</string>
			<key>blockElements</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>meteogram</string>
			<key>url</key>
			<string>https://www.meteoblue.com/en/weather/forecast/meteogramfive/{lat}{lon}</string>
			<key>blockElements</key>
			<string>.bloo form, .bloo .promotion, #meteomail, .app-promotion, .adsbygoogle</string>
		</dict>
		<dict>
			<key>title</key>
			<string>efhf</string>
			<key>url</key>
			<string>http://malmiairport.fi/webcam/image.php</string>
			<key>blockElements</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
